<!DOCTYPE html>
<html>
<head>
  <title>Tware</title>
  <%= stylesheet_link_tag    "tware/application", :media => "all" %>
  <%= javascript_include_tag "tware/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
